
   <!DOCTYPE html>
   <html lang="en">
<head>
  <title>Employee Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    
<div class="container">
    <h2>Employee Details <a href="{% url 'Uploadform'  %} " class="btn btn-light btn-lg me-2">
        Add Employee <i class="fa-solid fa-trash-can"></i></a></h2>
    
        

    <table class="table table-bordered">
      
        <thead>
          <tr>
            <th>Employee ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>MiddleName</th>
            <th>Employee Contact</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
            {% for objs in obj  %}
        <tr>
            <td>{{objs.id}}</td>
            <td>{{objs.FirstName}}</td>
            <td>{{objs.MiddleName}}</td>
            <td>{{objs.LastName}}</td>
            <td>{{objs.Mobile}}</td>
            <td>{{objs.Email}}</td>
           </tr>
           {% endfor %}
        </tbody>
        
</body>
</html>


 